package email

templ resetPasswordEmail(name, code, url string) {
	<div>
		<p>
			Hi { name }, here is your code to reset your password. The code expires in 3 minutes.
		</p>
		<h1>{ code }</h1>
		<p>
			Click on the link below to complete the password reset process.
		</p>
		<a href={ templ.SafeURL(url) }>{ url }</a>
	</div>
}
