package views

// This is the base layout that contains all the default/shared meta tags and the body tag.
// Allow custom title
templ baseLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta name="Author" content="Juan Wu"/>
			<meta charset="utf-8"/>
			<title>{ title }</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
