package views

templ ResetPasswordEmail(firstName, code string) {
	<div>
		<p>Hi { firstName }, use the code below to reset your password.</p>
		<h1>{ code }</h1>
		<p>If you didn&#39;t request to reset your password, ignore this email.</p>
	</div>
}
