package views

templ VerifyEmail(name string, url string) {
	<div>
		<p>Hi { name },</p>
		<p>Thanks for becoming a member of Konbini.</p>
		<p>Please verify your email by clicking the link below.</p>
		<p>
			<a href={ templ.SafeURL(url) }>{ url }</a>
		</p>
	</div>
}
