package views

templ VerificationEmail(url string) {
	<div>
		<p>
			Thanks for using Konbini!
		</p>
		<p>
			Please verify your email by clicking the link below.
		</p>
		<p>
			<a href={ templ.SafeURL(url) }>Verify Now</a>
		</p>
		<p>
			Do not reply to this email. This email is not monitored.
		</p>
	</div>
}
